/* Tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global components CSS file */


.sign-in-content{
    background: #f0f2f5;
}

/* Navbar */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #407540;
    
}

.navbar > .nav-logo{
    @apply m-2;
}


.navbar > .nav-motto{
    width: 45%;
}

.navbar .icon-div{
    cursor: pointer;
    transition: all .3s ease;
    padding: 6px 7px;
    border-radius: 20px;

}

.navbar .icon-div:hover {
    background: #5d8d5d;
}

.navbar > .nav-motto > ul{
    @apply m-2 flex justify-around;
}

.navbar .ncce-logo{
    width: 80px;
}

/* Hero section */
.hero-section{
    @apply mx-auto flex flex-col justify-center;
    /* height: calc(100vh - 29%); */
    
}
.hero-content{
    display: flex;
}

@media screen and (max-width: 700px) {
    .hero-content{
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 700px) {
    .hero-section {
        margin: 25px;
    }
}

.hero-section h1{
    font-size: 3.6rem;
    text-shadow: 3px 3px solid #333;
    font-family: "Secular One", sans-serif;
    font-weight: 800;
}

.hero-section p{
  font-size: 1.8rem;
  text-align: center;
}


@media screen and (max-width: 700px) {
    .hero-section h1{
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 700px) {
    .hero-section p{
        font-size: 1.2rem;
    }
    
}

/* Sign in Form */

.sign-in-form{
    width: 280px;
    @apply mx-auto;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: 1px solid #ccc;
}

.sign-in-form .form-container {
    margin: 5px;
}

.sign-in-form .form-container input{
    padding: 8px;
    border: 1px solid #ccc;
    outline: none;
    margin: 2px;
    border-radius: 10px;
    width: 100%;
}

.sign-in-form .form-container input:hover,
.sign-in-form .form-container input:active{
    border: 1px solid #A9A9A9;
}

.form-btn{
    margin: 15px;
}

.form-btn > button{
    @apply text-white;
    padding: 8px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #285d28;
}

.form-btn > button:hover{
    box-shadow: 4px 4px 14px #999797;
    background: #ccc;
    color: #008000;
}

.form-btn > button:user-invalid{
    background: #ccc;
    color: #801e00;
}
